<nav class="sidebar">
  <div class="sidebar-chapters-toggle" onclick="this.classList.toggle('open');document.getElementById('sidebarChapters').classList.toggle('open');">
    <a href="{{ site.baseurl }}/" onclick="event.stopPropagation();">Forgiven and Free</a>
    <span class="toggle-arrow">&#9656;</span>
  </div>
  <div class="sidebar-chapters-list" id="sidebarChapters">
    <ol>
      <li><a href="{{ site.baseurl }}/chapters/01-introduction">Introduction</a></li>
      <li><a href="{{ site.baseurl }}/chapters/02-the-easy-method">The Easy Method</a></li>
      <li><a href="{{ site.baseurl }}/chapters/03-the-sinister-trap">The Sinister Trap</a></li>
      <li><a href="{{ site.baseurl }}/chapters/04-neuroscience-of-the-trap">Neuroscience of the Trap</a></li>
      <li><a href="{{ site.baseurl }}/chapters/05-the-little-monster">The Little Monster</a></li>
      <li><a href="{{ site.baseurl }}/chapters/06-the-backward-mechanism">The Backward Mechanism</a></li>
      <li><a href="{{ site.baseurl }}/chapters/07-crossing-the-red-line">Crossing the Red Line</a></li>
      <li><a href="{{ site.baseurl }}/chapters/08-the-big-monster">The Big Monster</a></li>
      <li><a href="{{ site.baseurl }}/chapters/09-law-cannot-save">Law Cannot Save</a></li>
      <li><a href="{{ site.baseurl }}/chapters/10-stress-and-relaxation">Stress and Relaxation</a></li>
      <li><a href="{{ site.baseurl }}/chapters/11-boredom-concentration-energy">Boredom, Concentration, Energy</a></li>
      <li><a href="{{ site.baseurl }}/chapters/12-what-am-i-giving-up">What Am I Giving Up?</a></li>
      <li><a href="{{ site.baseurl }}/chapters/13-the-void">The Void</a></li>
      <li><a href="{{ site.baseurl }}/chapters/14-willpower-method-in-detail">Willpower Method in Detail</a></li>
      <li><a href="{{ site.baseurl }}/chapters/15-beware-of-cutting-down">Beware of Cutting Down</a></li>
      <li><a href="{{ site.baseurl }}/chapters/16-just-one-peek">Just One Peek</a></li>
      <li><a href="{{ site.baseurl }}/chapters/17-casual-users">Casual Users</a></li>
      <li><a href="{{ site.baseurl }}/chapters/18-social-media-trap">The Social Media Trap</a></li>
      <li><a href="{{ site.baseurl }}/chapters/19-timing">Timing</a></li>
      <li><a href="{{ site.baseurl }}/chapters/20-will-i-miss-the-fun">Will I Miss the Fun?</a></li>
      <li><a href="{{ site.baseurl }}/chapters/21-false-incentives">False Incentives</a></li>
      <li><a href="{{ site.baseurl }}/chapters/22-the-easy-way-to-stop">The Easy Way to Stop</a></li>
      <li><a href="{{ site.baseurl }}/chapters/23-the-withdrawal-period">The Withdrawal Period</a></li>
      <li><a href="{{ site.baseurl }}/chapters/24-the-moment-of-revelation">Freedom Is a Promise</a></li>
      <li><a href="{{ site.baseurl }}/chapters/25-the-final-session">The Solemn Vow</a></li>
      <li><a href="{{ site.baseurl }}/chapters/26-when-you-stumble">When You Stumble</a></li>
      <li><a href="{{ site.baseurl }}/chapters/27-living-free">Living Free</a></li>
      <li><a href="{{ site.baseurl }}/chapters/28-help-those-on-the-sinking-ship">Help Those on the Sinking Ship</a></li>
      <li><a href="{{ site.baseurl }}/chapters/29-for-partners">For Partners and Loved Ones</a></li>
      <li><a href="{{ site.baseurl }}/chapters/30-checklist-and-affirmations">Checklist and Affirmations</a></li>
    </ol>
  </div>
  <h4 class="sidebar-section">Resources</h4>
  <ul class="sidebar-resources">
    <li><a href="{{ site.baseurl }}/resources/why-lutheranism">Why Lutheranism</a></li>
    <li><a href="{{ site.baseurl }}/resources/private-confession">Private Confession Guide</a></li>
    <li><a href="{{ site.baseurl }}/resources/not-your-only-problem">Porn Is Not Your Only Problem</a></li>
    <li><a href="{{ site.baseurl }}/resources/scripture-and-catechism">Scripture &amp; Catechism</a></li>
  </ul>
</nav>
